:root{
    --contact-color : white;
    --heading-font-family :'Roboto', sans-serif;
    --button-font-family:'Montserrat', sans-serif;
    --background-color:rgba(32, 32, 32, 1);
    --heading-color: rgba(255, 255, 255, 1);
    --icons-color: rgb(255, 249, 249);
    --name-color: #282323;
}


h2{
    font-family: var(--heading-font-family);
    font-size: 24px;
    text-align: center;
    
    color: var(--heading-color);
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: bold;
}

h1{
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: var(--heading-color);
}

p{
    font-family: var(--heading-font-family);
    font-style: normal; 
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: var(--heading-color);
    line-height: 30px;
}

.btn-contact{
    font-family: var(--button-font-family);
    
    
    border-radius: 5px;
    border: 1px solid;
    font-weight: bold;
    background-color: var(--contact-color);
}

.header{
    text-align: center;
}

.fa-github-square{
    color: var(--icons-color);
}

.fa-envelope{
    color: var(--icons-color);
}

.fa-linkedin{
    color: var(--icons-color); 
}

a{
    text-decoration: none;
}


body{
    background: var(--background-color);
}
.bg-warning{
    background-color: var(--name-color)!important;
}
.navbar-dark{
    background-color: var(--background-color)!important;
}

footer{
    background-color: var(--name-color);
 
 margin-top: 30rem;
}

.links{
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
}
img{
    border-radius: 40px;

    height: 350px;
    object-fit: cover;
}