:root{
    --contact-color : white;
    --heading-font-family :'Roboto', sans-serif;
    --button-font-family:'Montserrat', sans-serif;
    --background-color:rgba(32, 32, 32, 1);
}

body{
    background: var(--background-color);
    

}

h2{
    font-family: var(--heading-font-family);
    font-size: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: bold;
}

h1{
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

p{
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    line-height: 30px;
}

.btn-contact{
    font-family: var(--button-font-family);
   
    
    border-radius: 5px;
    border: 1px solid;
    font-weight: bold;
    background-color: var(--contact-color);
}

.header{
    text-align: center;
}

.fa-github-square{
    color: gray;
}

.fa-envelope{
    color: gray;
}

.fa-linkedin{
    color: gray;
}